In [3]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import datetime as dt
import time

In [5]:
browser = Browser("chrome", executable_path='mars_app/chromedriver.exe', headless=False)
# headless - True will not open browser after cell is running

### NASA Mars News

In [6]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [7]:
# Converting into html page
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')

In [8]:
news_title = news_soup.find('div', class_='content_title').text

In [9]:
news_title

"Meet the People Behind NASA's InSight Mars Lander"

In [10]:
news_paragraph = news_soup.find('div', class_='article_teaser_body').text

In [11]:
news_paragraph

'A series of NASA videos highlight scientists and engineers leading the next mission to Mars.'

### JPL Mars Space Images - Featured Image

In [12]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [13]:
# click buttons
browser.find_by_id('full_image').click()
time.sleep(2)
browser.find_link_by_partial_text('more info').click()
time.sleep(2)

html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [14]:
img = img_soup.find('figure', class_='lede')

In [15]:
# img.a['href']
img.find('a')['href']

'/spaceimages/images/largesize/PIA02570_hires.jpg'

In [16]:
print(f'')
img_url = 'https://www.jpl.nasa.gov' + img.find('a')['href']

In [17]:
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA02570_hires.jpg'

### Mars Weather - Latest Tweets

In [18]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [19]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [20]:
latest_tweet = weather_soup.find('p', class_='TweetTextSize').text

In [21]:
latest_tweet

'Curiosity landed on Mars on this day in 2012 at 05:17:58 UTC, #HappyLandiversarypic.twitter.com/6e18TppUXv'

### Mars Facts

In [48]:
url = 'http://space-facts.com/mars/'
df_list = pd.read_html(url)
df_list

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [49]:
df = df_list[0]

In [50]:
df.columns = ['Description', 'Value']

In [54]:
df.set_index('Description', inplace=True)

In [55]:
df = df[['Value']]

In [56]:
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [57]:
facts_table = df.to_html(classes='table table-striped')

In [58]:
facts_table

'<table border="1" class="dataframe table table-striped">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [62]:
executable_path = {'executable_path': 'mars_app/chromedriver'}
browser = Browser("chrome", **executable_path, headless=False)

url = 'http://www.planetary.org/blogs/guest-blogs/bill-dunford/20140203-the-faces-of-mars.html'
browser.visit(url)

html = browser.html
hemi_soup = BeautifulSoup(html, 'html.parser')

h5s = hemi_soup.find_all("h5")

In [63]:
# Hemispheres Titles
img_titles = []
for h5 in h5s:
    h5 =  str(h5)
#  slice the text to remove hmlt tags
    h5 = h5[4:-5] 
    img_titles.append(h5)
    
# slice the list to get the titles 
hemi_titles = img_titles[1:5]

hemi_titles

['Mars: Valles Marineris Hemisphere',
 'Mars: Syrtis Major Hemisphere',
 'Mars: Cerberus Hemisphere ',
 'Mars: Schiaparelli Hemisphere ']

In [64]:
# Searching for a common tag to scrape image urls
hemi_links = hemi_soup.find_all('img', class_='img840')

hemi_urls = []
for i in range(0, len(hemi_links)):
    hemi_urls.append(hemi_links[i]['src'])
    
hemi_urls

['http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg',
 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg',
 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg',
 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg']

In [65]:
# Hemispheres Image Urls
hemisphere_img_url = []

for title, img_url in zip(hemi_titles, hemi_urls):
    hemisphere_img_url.append({'title': title, 'img_url': img_url})
    
hemisphere_img_url

[{'img_url': 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_valles_marineris_enhanced_f840.jpg',
  'title': 'Mars: Valles Marineris Hemisphere'},
 {'img_url': 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_syrtis_major_enhanced_f840.jpg',
  'title': 'Mars: Syrtis Major Hemisphere'},
 {'img_url': 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_cerberus_enhanced_f840.jpg',
  'title': 'Mars: Cerberus Hemisphere '},
 {'img_url': 'http://planetary.s3.amazonaws.com/assets/images/4-mars/2014/20140202_schiaparelli_enhanced_f840.jpg',
  'title': 'Mars: Schiaparelli Hemisphere '}]